{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Accueil{% endblock %}

{% block body %}

<div class="container">
    
<div class="jumbotron">
  <h1 class="display-4">Bienvenue sur SymRecipe!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{path('security.registration')}}" role="button">Inscription</a>
  </p>
</div>

<div class="d-flex justify-content-center flex-wrap">
    {% for recipe in recipes %}
        <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
            <div class="card-header">
                Recette No
                {{ recipe.id }}
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ recipe.name }}</h4>
                <p class="card-text">{{ recipe.description | slice(0, 100) }}</p>
            </div>
        </div>
    {% endfor %}
</div>

<div class="navigation d-flex justify-content-center mt-4">
{{ knp_pagination_render(recipes) }}
</div>

</div>
{% endblock %}