{% extends 'base.html.twig' %}

{% block title %}
    SymRecipe - 
    {{ recipe.name }}
    
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">
            {{ recipe.name }}
        </h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        <p>La moyenne de cette recette est de :
            {{ recipe.average | number_format('2', '.', ',') }} / 5
        </p>
        <div>
            <span class="badge bg-primary">
                Créée le 
                {{ recipe.createdAt | date('d/m/Y') }}
            </span>
        </div>

        <div class="mt-4">
            {% if recipe.time %}
                <p>Temps (en minutes) :
                    {{ recipe.time }}
                </p>
            {% else %}
                <p>Temps non renseigné
                </p>
            {% endif %}
        </div>

        <div class="mt-4">
            {% if recipe.nbPeople %}
                <p>Pour :
                    {{ recipe.nbPeople }} personnes
                </p>
            {% else %}
                <p>Nombre de personnes non renseigné
                </p>
            {% endif %}
        </div>
        

        <div class="mt-4">
            {% if recipe.difficulty %}
                <p>Difficulté :
                    {{ recipe.difficulty }}
                </p>
            {% else %}
                <p>Difficulté non renseignée
                </p>
            {% endif %}
        </div>
        
        
        <div class="mt-4">
            {% if recipe.price %}
                <p>Prix (en Euros) :
                    {{ recipe.price }}
                </p>
            {% else %}
                <p>Prix non renseigné
                </p>
            {% endif %}
        </div>
        

        <div class="mt-4">
            {% if recipe.description %}
            <div>
                {{ recipe.description | raw }}
            </div>
            {% else %}
                <div>
                Description non renseignée
            </div>
        </div>
        
            
        {% endif %}

        <div class="mt-4">
            <p>Ingrédients</p>
            {% for ingredient in recipe.ingredients %}
                <span class="badge bg-primary mt-1">
                    {{ ingredient.name }}
                </span>
            {% endfor %}
        </div>


        <div class="mark">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}